Hey {{user.name}} wanna change your details?

<form method="post">
  <label for="input-name"> Edit your name!</label>
<input type="text" id="input-name" placeholder="First and Last Name" name="name">
<button>Change my name!</button>
</form>