<h1>{{user.name}}</h1>

{{user.email}}

{{user.id}}
<form action="/authentication/sign-out" method="post">


<button>Sign Out</button>

</form>


<a href="/authentication/profile/{{user.id}}">Go to your profile</a>

