other one yay

<form action="/authentication/sign-out" method="post">

Your profile

{{user.name}}

{{user.id}}

{{user.email}}

this is your profile

wanna change?
<a href="/authentication/profile/{{user.id}}/edit/">Go to your profile</a>

<button>Sign Out</button>

</form>